body, .container {
  padding: 0; margin: 0;
}

#new {
  position: relative;
  top: 100px;
}

.dna {
  height: 100vh;
}

.notes, .sequence {
  height: 50vh;
}

.dna, .sequence, .notes {
  border: 1px solid red;
  padding: 0;
}

canvas {
  background-color: #000;
}

.glyphicon.glyphicon-remove-circle {
  position: fixed;
  top: 7px;
  left: 7px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 99;
}
